.w3l-pricing-7 ul.links {
  list-style: none;
  padding: 0;
}

.w3l-pricing-7 li.tick-info {
  position: relative;
  padding-left: 30px; /* Adjust as needed */
  margin-bottom: 10px; /* Adjust as needed */
}

.w3l-pricing-7 li.tick-info .circle-green,
.w3l-pricing-7 li.tick-info .circle-red {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 20px;
}

.w3l-pricing-7 li.tick-info .circle-green {
  background-color: green;
}

.w3l-pricing-7 li.tick-info .circle-red {
  background-color: red;
}
